<nav>
	<ul>
		<li><a href="/TheDoom/#">Home</a></li>
		<li><a href="/TheDoom/#about">About</a></li>
		<li><a href="/TheDoom/#contact">Contact</a></li>
		<li><a href="/TheDoom/#team">Team</a></li>
		<li><a href="/TheDoom/#projects">Projects</a></li>
		<li><a href="/TheDoom/#tools">Tools</a></li>
		<li><a href="/TheDoom/#talks">Talks</a></li>
		<li><a href="/TheDoom/#posts">Posts</a></li>
		<li><a href="/TheDoom/#articles">Articles</a></li>
		<li><a href="{{ site.baseurl }}/rss.xml">RSS</a>/<a href="{{ site.baseurl }}/atom.xml">Atom</a></li>
	</ul>
</nav>
